html {
  background-color: #F3F1E8;
  margin:0px;
  padding:0px;
}

div {
  margin:0px;
  padding:0px;
}


body {
  font-family: arial, sans-serif;
  color:#85847f; 
  font-size:1em; 
  font-family:arial, sans-serif; 
  margin:0px; 
  padding:0px; 
  background:#f3f1e8 url(tile.jpg) top left repeat;
}

p {
  margin:10px 0px 5px 0px;
  a {
    background:none;
    color:lighten(#85847f, 25%);
  }
  a:hover {
    background:none;
  }
}

.clear {
 clear:both;
}

.header {
  width:100%;
  background-color:#00585F;
  height:100px;
  color:white;
  position:relative; 
  z-index:99; 
  background:url(header-bg.png) bottom center repeat-x; 
}

.header_content {
  width:960px;
  margin:0 auto;
  padding-top:20px;
}

.header h1 {
  padding:10px;
  font-size:40px;
  display:inline;
  a, a:visited, a:hover {
    text-decoration:none;
    color:white;
  }
}

.footer {
  height:60px;
  background-color: darken(#85847F, 20);
  color:white;
  a {
    background-color:transparent;
    color:white;
  }
  .copyright {
    margin:20px;
    float:right;
  }
}

h1 {
  margin:10px 0px 10px 0px;
}

.main {
  width:960px;
  margin:0 auto;
  min-height: 600px;
}

.main .content {
  width:700px;
  padding-top:20px;
  float:left;
}

.main .sidebar {
  width:260px;
  float:right;
  text-align:justify;
}

.sidebar #about-box{
  padding-top:20px;
}

.footer {
  width:100%;
}
 
input[type=text], input[type=password], textarea {
  width:397px;
  color: #969697;
  border: 1px solid #dddddd;
  height: 46px;
  line-height: 46px;
  padding: 0 10px;
  font-size: 1em;
  font-family: arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
}

textarea {
  width:90%;
  height:300px;
}

input[type=submit], a {
  border: 0px;
  padding: 6px 10px 6px 10px;
  margin: 10px 0px 5px 0px;
  height: 36px;
  cursor: pointer;
  font-family: arial,sans-serif;
  background-color: #adccd0;
  font-size: 1em;
  color:white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration:none;
}
input[type=submit]:hover, a:hover {
  background-color: darken(#adccd0, 10);
  text-decoration:none;
}

#user_nav {
  float:right;
  a {
    display:block;
    background-color:lighten(#adccd0, 10);
    height:30px;
    padding:10px 10px 0px 10px;
    font-size:1.2em;
    text-decoration:none;
    color: white;
    margin:10px 5px 10px 0px;
    float:right;
  }

  a:hover {
    background-color: darken(#adccd0, 10);
  }
}

#login, .form {
  width:600px;
  margin:0 auto;
  padding:20px;
  background-color:white;
  border:1px solid #dddddd;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.sidebar {
  width:200px;
  float:right;
}


.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.small-rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

label {
  margin: 8px 0px 5px 0px;
  display:block;
}
table tr td {
  padding:10px;
}
.shadow {

  -moz-box-shadow: 5px 5px 7px #888;
  -webkit-box-shadow: 5px 5px 7px #888;

}

#to_reserve {
  color:red;
}

#flash_error {
  color:red;
}

#flash_notice {
  color:green;
}
