<!DOCTYPE html>
<html>
<head>
  <title>Kikipat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="header_content">
      <h1> Kiki et Pat </h1>
    </div>
  </div>

  <div class="main">
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
  </div>

</body>
</html>
